{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <p id="randomSentencePlaceholder"></p>
        <script>
            const sentences = {{ .Content }};
            const randomIndex = Math.floor(Math.random() * sentences.length);
            const randomSentence = sentences[randomIndex];
            document.getElementById("randomSentencePlaceholder").textContent = randomSentence;
        </script>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}

