{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Product+Sans:wght@400;700&display=swap" rel="stylesheet"> -->
        <h1 class="title-font">{{ .Title | markdownify }}</h1>
    </header>    
    <div class="entry-content">
        <p id="randomSentencePlaceholder"></p>
	<script>
            const sentences = {{ .Content }};
	    const formattedSentences = sentences.map(sentence => sentence.replace(/\*/g, '\n'));
	   // console.log(formattedSentences)
            const randomIndex = Math.floor(Math.random() * formattedSentences.length);
            const randomSentence = formattedSentences[randomIndex].replace(/\n/g, '<br>');
	console.log(randomSentence)
           // document.getElementById("randomSentencePlaceholder").textContent = randomSentence;
	    document.getElementById("randomSentencePlaceholder").innerHTML = `<p>${randomSentence}</p>`;
        </script>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
